.all{
  background-image: url("../img/background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.suggestion {
  display: flex;
  flex-direction: column;
}

.suggestion .images {
  width: 400px;
  height: auto;
  border-radius: 15px;
  border: 5px solid #e8e8e8;

}



.finale {
  background-image: image(/img);

}

.header-shadow{
    background-image: url('../images/header-shade.jpg');
    width:xxpx;
    height:xxpx;
}

.containerone, .suggestion {
  border: 5px solid #6B8D9E;
  padding: 30px;
  margin-left: 300px;
  margin-right: 300px;
  margin: center;
  width: 600px;
  border-radius: 20px ;
  background: rgba(232, 231, 231, 0.7);
}
